.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 9vmin;
  pointer-events: none;
  filter: invert(1) !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.scrollableContent {
  top: 40px;
  position: fixed;
  bottom:0;
}

.searchInputFixed {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  padding-top: 50px;
  right: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type="radio"] {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
  background-color: silver;
  padding: 5px;
}

.primary {
  border: 3px solid blueviolet;
}

a {
  text-decoration: none;
  color: aqua;
  font-weight: bold;
}

.zoom-in-zoom-out {
  margin: 24px;
  animation: zoom-in-zoom-out 2s ease-out 3s;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.blink {
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
  from {
     color: yellow;
  }
  to {
     color: white;
  }
}